/* ▰▰▰ Initialization ▰ */
@font-face {
    font-family: 'VT323';
    src:
        url('./fonts/VT323-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: 'GowunDodum';
    src:
        url('./fonts/GowunDodum-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: 'SpaceMono';
    src:
        url('./fonts/SpaceMono-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: 'Zeyda';
    src:
        url('./fonts/Zeyada-Regular.ttf')
        format('truetype');
}
@font-face {
    font-family: 'Spartan';
    src:
        url('./fonts/Spartan-VariableFont_wght.ttf')
        format('truetype');
}
:root {
    --link-font:
        normal
        normal
        normal
        100%/normal
        'GowunDodum';
    --logo-font:
        normal
        normal
        normal
        100%/normal
        'VT323';
    --first-color: rgb(43, 43, 43);
    --second-color: whitesmoke;
    --animation-time: .6s;
    --timing-function: cubic-bezier(.5,-0.3,.5,1.3);
}
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
/* ▰▰▰ Navigation Bar ▰ */
nav {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
main {transition: filter .6s ease-in-out 0s;}
main.open {
    filter: blur(1rem);
}
/* ▰▰▰ Menu Button ▰ */
#menu-btn-box {
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 2vh;
}
#menu-btn {
    width: 30%;
    height: 30%;
    position: relative;
}
#menu-btn> div {
    width: 80%;
    height: 10%;
    position: absolute;
    left: 10%;
    transition:
        transform var(--animation-time) var(--timing-function) 0s;
}
#menu-btn> div:nth-child(1) {top: 10%; background-color: transparent;}
#menu-btn> div:nth-child(2) {top: 45%;}
#menu-btn> div:nth-child(3) {top: 80%;}
nav.open #menu-btn> div:nth-child(1) {transform: translateY(350%) rotate(90deg);}
nav.open #menu-btn> div:nth-child(2) {transform: translate(-43.75%, -350%);}
nav.open #menu-btn> div:nth-child(3) {transform: translate(43.75%, -700%);}
#menu-btn> div::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 2rem;
    background-color: whitesmoke;
    transition:
        width var(--animation-time) var(--timing-function) 0s,
        transform var(--animation-time) var(--timing-function) 0s;
}
#menu-btn> div:nth-child(1)::after {
    right: 0;
}
#menu-btn> div:nth-child(2)::after {
    right: 0;
    transform-origin: 87.5% 50%;
}
#menu-btn> div:nth-child(3)::after {
    left: 0;
    transform-origin: 12.5% 50%;
}
nav.open #menu-btn> div:nth-child(1)::after {
    width: 95%;
}
nav.open #menu-btn> div:nth-child(2)::after {
    width: 50%;
    transform: rotate(-160deg);
}
nav.open #menu-btn> div:nth-child(3)::after {
    width: 50%;
    transform: rotate(160deg);
}
/* ▰▰▰ Logo ▰ */
#logo-container {
    font: var(--logo-font);
    font-family: 'GowunDodum';
    width: 100%;
    height: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10vh;
    display: none;
    /* background-color: blue; */
}
#logo {
    width: 100%;
    height: 100%;
    position: relative;
}
#logo> div {
    height: 100%;
    /* background-color: red; */
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transition:
        top .6s ease-in-out .6s,
        left .6s ease-in-out 0s,
        opacity .6s ease-in-out .6s;
}
#logo> div:nth-child(1) {left: 0;}
#logo.open> div {
    transition:
    top .6s ease-in-out 0s,
    left .6s ease-in-out .6s,
    opacity .6s ease-in-out 0s;
}
#logo.open> div:nth-child(2) {top: 45%; opacity: 0;}
/* ▰▰▰ Menu ▰ */
#menu {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 0;
    overflow: hidden;
}
#items {
    width: calc(100% - 2vh);
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 90vh;
    left: 2vh;
    transition:
        height var(--animation-time) ease-in-out 0s,
        bottom var(--animation-time) ease-in-out 0s,
        transform var(--animation-time) ease-in-out 0s;
}
#items> .item {
    width: 100%;
    height: 0;
    position: relative;
    transition: height var(--animation-time) ease-in-out 0s;
}
#items> .item> .icon {
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--animation-time) ease-in-out 0s;
    transform: rotate(0);
}
#items> .item> .icon> img { height: 100%; }
#items> .item.active> .icon { transform: rotate(-360deg) !important; }
#items> .item> .link {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15vh;
    overflow: hidden;
}
nav.open #items {
    height: 80vh;
    bottom: 10vh;
    transform: translateY(0);
}
nav.open #items> .item { height: 10vh; }
nav.open #items> .item> .icon {
    transform: rotate(-375deg);
}
.item> .link> a {
    font: var(--link-font);
    text-decoration: none;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translate(-100%, -50%);
    transition:
        opacity .4s ease-in-out 0s,
        transform .4s ease-in-out 0s;
}
.item.active> .link> a { transform: translate(0, -50%); opacity: 1; }
/* ▰▰▰ Clock ▰ */
#clock {
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    font-size: 5rem;
    text-align: center;
    color: whitesmoke;
}
#pomodoro-room {
    display: flex;
    justify-content: center;
    align-items: center;
}
#voice-animation {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#voice-animation> div {
    width: 10%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 4rem;
    animation: voice 3s ease-in-out var(--delay) infinite;
}
#pomodoro-room> h1 {
    font-family: 'Zeyda';
    color: whitesmoke;
    font-size: 2rem;
    margin: 0.7rem;
}
@keyframes voice {
    0% { height: 80%; }
    25% { height: 20%; }
    50% { height: 60%; }
    75% { height: 30%; }
    100% { height: 80%; }
}
@media only screen and (orientation: landscape) {
    nav { height: 15vh; }
    #menu {height: 85vh; top: 15vh;;}
    #menu-btn-box { width: 15vh; left: 5vh; }
    #logo-container { display: inherit; left: 17vh; }
    #items { width: 70%; left: 5vh; }
    nav.open #items { height: 80vh; }
    nav.open #items> .item { height: 10%; }
    #items> .item { height: 0; }
    #items> .item> .icon { width: 15vh !important; height: 100%; }
    #items> .item> .link { left: 20vh; }
    #clock { font-size: 13rem; }
    #voice-animation { width: 3rem; height: 3rem; }
    #pomodoro-room> h1 { font-size: 2.8rem; }
    #pomodoro-room> div:last-child { width: 2rem; height: 2rem; }
}